# -----------------------------
# Terraform
# -----------------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.d/
.terraform.lock.hcl
crash.log

# Terraform variable files (may contain secrets)
*.tfvars
*.tfvars.json

# -----------------------------
# Ansible
# -----------------------------
# Vault & secrets
#vault_password.txt
#*.vault
#secret.yml

# -----------------------------
# SSH Keys
# -----------------------------
*.pem
*.key

# Optional: public keys (if infra-related)
#*.pub

